/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

.loader {
  display: none;
}

/* Активний стан */
.loader.css-loader {
  display: block;
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #4e75ff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 40px auto;
  /* по центру */
}

/* Анімація обертання */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 40px auto;
}

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #fff;
    border: 1px solid #808080;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color: #808080;
        padding: 8px 16px;

}
.form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #808080;
    padding: 8px 16px;
  }

  .form-btn {
    border-radius: 8px;
      padding: 8px 16px;
      width: 91px;
      height: 40px;
      background: #4e75ff;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.04em;
      color: #fff;
      border: none;
  }

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  border-radius: 5px;
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  max-width: 360px;
}

.gallery-img {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.descr {
  display: flex;
  border-bottom: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    /* width: 360px;
    height: 48px; */
  }

.descr-item {
  display: flex;
  flex-direction: column;
  margin: 4px auto;
  align-items: center;
}

.descr-head {
font-weight: 600;
font-size: 12px;
line-height: 133%;
letter-spacing: 0.04em;
color: #2e2f42;}

.descr-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}